<html>
<head>
    <title>User Data</title>
    <link rel='stylesheet' href="./assets/styles/site.css"/>
</head>
<body>
    <div class="main">
        <div class='main_info'>
            <div class="picture">
                <img src={{robot.avatar}}/>
            </div>
            <div class="info">
                <h1>{{robot.name}}</h1>
                <div class="locationAndJob">
                    {{#robot.address.city}}
                        <span>{{robot.address.city}}, {{robot.address.country}} | </span>
                    {{/robot.address.city}}
                    {{^robot.address.city}}
                        <span>{{robot.address.country}} | </span>
                    {{/robot.address.city}}
                    {{#robot.job}}
                        <span>{{robot.job}}, {{robot.company}} </span>
                    {{/robot.job}}
                    {{^robot.job}}
                        <span style="color:red;">Available for hire </span>
                    {{/robot.job}}
                </div>
                <div><p>{{robot.email}} | {{robot.phone}}</p></div>
            </div>
        </div>
        <div class='sub_info'>
            <div class='education'>
                <div class='education_title'><strong>Education</strong></div>    
                <div class='user_education'>
                    <span>{{robot.university}}</span>
                </div>
            </div>
            <div class='skills'>
                <div class='skills_title'><strong>Skills</strong></div>
                <div class="user_skills">
                    <ul>
                        {{#robot.skills}}
                            <li>{{.}}</li>
                        {{/robot.skills}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>